.banner {
    padding: 40px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    }

.banner h1 {
    margin: 20px;
}

.banner img{
    background-color: springgreen;
    border-radius: 100%;
    
    width: 100px;
}
